<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- since click once doens't support multiple *.config files we have to replicate this info on all tools that required Ounce CLI access-->
    
    <add key="MySqlDatabaseName" value="ounce"/>
    <add key="MySqlLoginUsername" value="root"/>
    <add key="MySqlLoginPassword" value=""/>
    <add key="MySqlServerPort" value="13106"/>
    <add key="MySqlServerIP" value="127.0.0.1"/>    
    <add key="DefaultPathToOunceInstallDir" value="C:\Program files\Ounce Labs"/>
    <add key="CliExecutableName" value="bin\cli.exe"/>
    <add key="OunceCoreLogin_UserName" value="admin"/>
    <add key="OunceCoreLogin_Password" value=""/>
    <add key="OunceCoreLogin_IPAddress" value="127.0.0.1"/>

  </appSettings>
</configuration>