<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Hacmebank-WebSite" value ="http://deploy.o2-ounceopen.com/DemoFiles/Saved_Assessments_Files/HacmeBank_Website.zip"/>
    <add key="Hacmebank-WebServices" value ="http://deploy.o2-ounceopen.com/DemoFiles/Saved_Assessments_Files/HacmeBank_WebServices.zip"/>
    <add key="Hacmebank-WebGoat" value ="http://deploy.o2-ounceopen.com/DemoFiles/Saved_Assessments_Files/WebGoat.zip"/>
  </appSettings>
</configuration>