<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.GLEE.Drawing" publicKeyToken="8A3D7C21D5FA1306" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
