<?xml version="1.0"?>
<KO2Config>
  <extraSettings />
  <dependenciesInjection />
  <O2ConfigFile>C:\_O2_SVN\O2_Binaries\o2.config</O2ConfigFile>
  <O2FindingsFileExtension>.O2Findings</O2FindingsFileExtension>
  <hardCodedO2LocalTempFolder>C:\O2\_tempDir\6-4-2010</hardCodedO2LocalTempFolder>
  <hardCodedO2LocalBuildDir>E:\O2\_Bin_(O2_Binaries)\</hardCodedO2LocalBuildDir>
  <hardCodedO2LocalSourceCodeDir>E:\O2\_SourceCode_O2</hardCodedO2LocalSourceCodeDir>
  <O2TempDir>C:\O2\_tempDir\6-4-2010</O2TempDir>
  <CurrentExecutableDirectory>C:\_O2_SVN\O2_Binaries</CurrentExecutableDirectory>
  <CurrentExecutableFileName>O2_XRules_Database</CurrentExecutableFileName>
  <ExecutingAssembly>C:\_O2_SVN\O2_Binaries\O2_Kernel.dll</ExecutingAssembly>
  <TempFileNameInTempDirectory>C:\O2\_tempDir\6-4-2010\tmp21B0.tmp</TempFileNameInTempDirectory>
  <TempFolderInTempDirectory>C:\O2\_tempDir\6-4-2010\tmp21B1</TempFolderInTempDirectory>
  <O2KernelAssemblyName>O2_Kernel.dll</O2KernelAssemblyName>
</KO2Config>