<?xml version="1.0"?>
<KO2Config>
  <extraSettings />
  <dependenciesInjection />
  <O2ConfigFile>C:\O2\O2Scripts_Database\O2_Core_APIs\o2.config</O2ConfigFile>
  <O2FindingsFileExtension>.O2Findings</O2FindingsFileExtension>
  <hardCodedO2LocalTempFolder>C:\O2\_tempDir\6-6-2011</hardCodedO2LocalTempFolder>
  <hardCodedO2LocalBuildDir>E:\O2\_Bin_(O2_Binaries)\</hardCodedO2LocalBuildDir>
  <hardCodedO2LocalSourceCodeDir>E:\O2\_SourceCode_O2</hardCodedO2LocalSourceCodeDir>
  <O2TempDir>C:\O2\_tempDir\6-6-2011</O2TempDir>
  <ZipppedScriptsFile>_Scripts v1.x.zip</ZipppedScriptsFile>
  <LocalScriptsFolder>C:\O2\O2Scripts_Database\_Scripts</LocalScriptsFolder>
  <LocallyDevelopedScriptsFolder>C:\O2\_XRules_Local</LocallyDevelopedScriptsFolder>
  <ScriptsTemplatesFolder>C:\O2\O2Scripts_Database\_Scripts\_Templates</ScriptsTemplatesFolder>
  <SvnO2RootFolder>http://o2platform.googlecode.com/svn/trunk/</SvnO2RootFolder>
  <SvnO2DatabaseRulesFolder>http://o2platform.googlecode.com/svn/trunk/O2_Scripts/</SvnO2DatabaseRulesFolder>
  <O2SVN_ExternalDlls>http://o2platform.googlecode.com/svn/trunk/O2 - All Active Projects/_3rdPartyDlls/</O2SVN_ExternalDlls>
  <O2SVN_Binaries>http://o2platform.googlecode.com/svn/trunk/O2_Binaries/</O2SVN_Binaries>
  <O2SVN_FilesWithNoCode>http://o2platform.googlecode.com/svn/trunk/O2 - All Active Projects/_3rdPartyDlls/FilesWithNoCode/</O2SVN_FilesWithNoCode>
  <O2DownloadLocation>http://code.google.com/p/o2platform/downloads/list</O2DownloadLocation>
  <CurrentExecutableDirectory>C:\O2\O2Scripts_Database\O2_Core_APIs\_compiled_Dlls</CurrentExecutableDirectory>
  <CurrentExecutableFileName>O2_Launcher</CurrentExecutableFileName>
  <ExecutingAssembly>C:\O2\O2Scripts_Database\O2_Core_APIs\_compiled_Dlls\FluentSharp_O2.dll</ExecutingAssembly>
  <TempFileNameInTempDirectory>C:\O2\_tempDir\6-6-2011\tmp37D9.tmp</TempFileNameInTempDirectory>
  <TempFolderInTempDirectory>C:\O2\_tempDir\6-6-2011\tmp37DA</TempFolderInTempDirectory>
  <O2KernelAssemblyName>O2_Kernel.dll</O2KernelAssemblyName>
</KO2Config>