<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Hacmebank-WebSite-DLL" value ="http://76.12.247.164/DemoFiles/ScanTargets/HacmeBank_WebSite_App_Code.dll"/>
    <add key="Hacmebank-WebServices-DLL" value ="http://76.12.247.164/DemoFiles/ScanTargets/HacmeBank_WebServices_App_Code.dll"/>

    <!-- since click once doens't support multiple *.config files we have to replicate this info on all tools that required Ounce CLI and MySql access-->

    <add key="MySqlDatabaseName" value="ounce"/>
    <add key="MySqlLoginUsername" value="root"/>
    <add key="MySqlLoginPassword" value=""/>
    <add key="MySqlServerPort" value="13106"/>
    <add key="MySqlServerIP" value="127.0.0.1"/>


    <add key="DefaultPathToOunceInstallDir" value="C:\Program files\Ounce Labs"/>
    <add key="OunceCoreLogin_UserName" value="admin"/>
    <add key="OunceCoreLogin_Password" value=""/>
    <add key="OunceCoreLogin_IPAddress" value="127.0.0.1"/>
    
  </appSettings>
</configuration>